In [158]:
import pandas as pd
import numpy as np
from collections import Counter
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GroupShuffleSplit
import uuid
from tqdm import tqdm

In [2]:
measurement_meds_test = pd.read_csv('testing_data/measurement_meds_test.csv')
measurement_observation_test =  pd.read_csv('testing_data/measurement_observation_test.csv')
observation_test = pd.read_csv('testing_data/observation_test.csv')
person_demographics_episode_test = pd.read_csv('testing_data/person_demographics_episode_test.csv')
proceduresoccurrences_test = pd.read_csv('testing_data/proceduresoccurrences_test.csv')
sepsis_label_test = pd.read_csv('testing_data/SepsisLabel_test.csv')
devices_test = pd.read_csv('testing_data/devices_test.csv')
drugsexposure_test = pd.read_csv('testing_data/drugsexposure_test.csv')
measurement_lab_test = pd.read_csv('testing_data/measurement_lab_test.csv')

In [133]:
measurement_meds_train = pd.read_csv('training_data/measurement_meds_train.csv').drop_duplicates()
measurement_observation_train =  pd.read_csv('training_data/measurement_observation_train.csv').drop_duplicates()
observation_train = pd.read_csv('training_data/observation_train.csv').drop_duplicates()
person_demographics_episode_train = pd.read_csv('training_data/person_demographics_episode_train.csv').drop_duplicates()
proceduresoccurrences_train = pd.read_csv('training_data/proceduresoccurrences_train.csv').drop_duplicates()
sepsis_label_train = pd.read_csv('training_data/SepsisLabel_train.csv').drop_duplicates()
devices_train = pd.read_csv('training_data/devices_train.csv').drop_duplicates()
drugsexposure_train = pd.read_csv('training_data/drugsexposure_train.csv').drop_duplicates()
measurement_lab_train = pd.read_csv('training_data/measurement_lab_train.csv').drop_duplicates()

train_dfs = [measurement_meds_train, measurement_observation_train, observation_train, proceduresoccurrences_train, sepsis_label_train, devices_train, drugsexposure_train, measurement_lab_train]

In [134]:
def uid_maker(df_list: list):
    for j, df in enumerate(df_list):
        # print(df.columns)
        datetime_index = np.argmax([i.find('datetime') for i in df.columns])
        date_column = df.columns[datetime_index]
        personid_index = np.argmax([i.find('person_id') for i in df.columns])
        personid_column = df.columns[personid_index]
        # print(f'date col: {date_column} personid: {personid_column}')
        df['uid'] = df[date_column].astype(str) + df[personid_column].astype(str)
        if j != 4:
            df.drop(columns=[date_column,personid_column],inplace=True)

uid_maker(train_dfs)

In [106]:
print(len(observation_train))
print(len(sepsis_label_train))
print(len(drugsexposure_train))
print(len(measurement_lab_train))
print(len(measurement_meds_train))
print(len(proceduresoccurrences_train))
print(len(measurement_observation_train))
print(len(person_demographics_episode_train))
print(len(devices_train))

3807
331653
184780
69307
257749
771214
50553
3391
750878

In [136]:
print(len(observation_train))
print(len(sepsis_label_train))
print(len(drugsexposure_train))
print(len(measurement_lab_train))
print(len(measurement_meds_train))
print(len(proceduresoccurrences_train))
print(len(measurement_observation_train))
print(len(person_demographics_episode_train))
print(len(devices_train))

3807
331639
182929
69307
257749
771214
50553
3391
750878

In [81]:
pd.merge(left=sepsis_label_train, right= measurement_observation_train, how= 'left', on='uid')

,person_id_x,measurement_datetime_x,SepsisLabel,uid,visit_occurrence_id,person_id_y,measurement_datetime_y,Left pupil Diameter Auto,Right pupil Diameter Auto,Glasgow coma scale,Capillary refill [Time],Pulse,Arterial pulse pressure,Right pupil Pupillary response,Left pupil Pupillary response
0,274096387,2024-12-03 20:00:00,0,2024-12-03 20:00:00274096387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1719359031,2024-04-20 09:00:00,0,2024-04-20 09:00:001719359031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024544816,2021-07-14 07:00:00,0,2021-07-14 07:00:002024544816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,213710896,2022-05-24 07:00:00,0,2022-05-24 07:00:00213710896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1335786468,2024-08-25 22:00:00,0,2024-08-25 22:00:001335786468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331648,2046744557,2021-04-06 11:00:00,0,2021-04-06 11:00:002046744557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331649,549216345,2022-08-25 16:00:00,0,2022-08-25 16:00:00549216345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331650,2108571452,2021-01-04 22:00:00,0,2021-01-04 22:00:002108571452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331651,523755820,2020-05-29 15:00:00,0,2020-05-29 15:00:00523755820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331652,2046454293,2024-01-08 02:00:00,0,2024-01-08 02:00:002046454293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
drugsexposure_train_2 = pd.DataFrame(columns = ['uid', 'drugs', 'routes'])
for x in tqdm(np.unique(drugsexposure_train['uid'])):
    drugs = drugsexposure_train[drugsexposure_train['uid']==x]['drug_concept_id'].to_list()
    drugs.sort()
    try:
        route = drugsexposure_train[drugsexposure_train['uid']==x]['route_concept_id'].to_list()
        route = list(set(route))
        route = [str(i) for i in route]
        route.sort()
    except:
        route = drugsexposure_train[drugsexposure_train['uid']==x]['route_concept_id'].to_list()
        route = list(set(route))
    drugsexposure_train_2.loc[len(drugsexposure_train_2)]= [x,drugs,route]

 10%|▉         | 14754/150407 [06:15<59:50, 37.78it/s]

In [88]:
Counter(drugsexposure_train['uid'])

Counter({'2024-07-09 19:00:002019429580': 10,
         '2020-12-16 09:00:00242560064': 7,
         '2024-11-05 15:00:0055580998': 7,
         '2024-06-04 14:00:0045728102': 7,
         '2024-03-25 09:00:002096338859': 7,
         '2020-02-10 14:00:001374751557': 6,
         '2020-07-14 16:00:002023208874': 6,
         '2020-07-14 20:00:002023208874': 6,
         '2020-07-15 12:00:002023208874': 6,
         '2020-07-15 19:00:002023208874': 6,
         '2020-08-06 13:00:00268956504': 6,
         '2020-12-16 21:00:00242560064': 6,
         '2024-04-22 21:00:001285426686': 6,
         '2024-11-21 13:00:00372017212': 6,
         '2023-01-15 14:00:0043078502': 6,
         '2023-11-22 16:00:001121147142': 6,
         '2022-06-06 08:00:001218503080': 6,
         '2023-05-23 23:00:00974955970': 6,
         '2023-05-25 00:00:00974955970': 6,
         '2024-01-30 15:00:001822759794': 6,
         '2023-11-28 09:00:001313970597': 6,
         '2023-12-05 11:00:001313970597': 6,
         '2022-06-07 22:00:001882124297': 6,
         '2022-06-08 13:00:001882124297': 6,
         '2022-06-10 11:00:001882124297': 6,
         '2024-11-19 17:00:0055580998': 6,
         '2024-08-14 21:00:00387523285': 6,
         '2024-06-05 12:00:00448979959': 6,
         '2024-11-06 14:00:002033810311': 6,
         '2022-04-27 19:00:00533655286': 6,
         '2021-10-14 17:00:00219028951': 6,
         '2023-02-05 12:00:002072613128': 5,
         '2023-02-05 16:00:002072613128': 5,
         '2023-05-23 14:00:001335510683': 5,
         '2023-05-23 18:00:001335510683': 5,
         '2020-10-21 13:00:00686228508': 5,
         '2024-01-10 18:00:001272280203': 5,
         '2024-05-15 20:00:00898242727': 5,
         '2020-02-13 16:00:001374751557': 5,
         '2023-03-14 20:00:001534304676': 5,
         '2024-07-09 22:00:002019429580': 5,
         '2024-07-10 01:00:002019429580': 5,
         '2020-08-06 14:00:00268956504': 5,
         '2024-05-29 18:00:001598696199': 5,
         '2020-12-16 15:00:00242560064': 5,
         '2020-12-16 16:00:00242560064': 5,
         '2020-12-17 09:00:00242560064': 5,
         '2020-01-22 14:00:00196800958': 5,
         '2024-08-03 11:00:00644907220': 5,
         '2019-10-13 09:00:001960689442': 5,
         '2019-11-13 09:00:001960689442': 5,
         '2024-01-23 17:00:00898242727': 5,
         '2024-01-23 19:00:00898242727': 5,
         '2024-01-23 23:00:00898242727': 5,
         '2024-01-24 09:00:00898242727': 5,
         '2024-03-12 17:00:002058664666': 5,
         '2024-08-30 01:00:00698777850': 5,
         '2024-12-05 02:00:00698777850': 5,
         '2024-12-05 10:00:00698777850': 5,
         '2024-12-05 19:00:00698777850': 5,
         '2024-09-22 12:00:00241399800': 5,
         '2024-09-02 19:00:001188893300': 5,
         '2023-10-26 07:00:0043078502': 5,
         '2024-07-26 12:00:00504672227': 5,
         '2023-10-18 17:00:001285426686': 5,
         '2020-10-02 02:00:001836306635': 5,
         '2024-11-22 19:00:00372017212': 5,
         '2024-11-22 20:00:00372017212': 5,
         '2022-10-28 20:00:00203008612': 5,
         '2022-12-03 21:00:00203008612': 5,
         '2022-12-04 11:00:00203008612': 5,
         '2022-12-04 23:00:00203008612': 5,
         '2024-10-27 05:00:001894332649': 5,
         '2023-01-14 17:00:0043078502': 5,
         '2023-01-20 20:00:0043078502': 5,
         '2023-01-22 00:00:0043078502': 5,
         '2023-11-22 18:00:001121147142': 5,
         '2023-11-23 01:00:001121147142': 5,
         '2020-08-20 21:00:00832938182': 5,
         '2020-08-21 06:00:00832938182': 5,
         '2020-08-21 12:00:00832938182': 5,
         '2023-10-17 14:00:001853644555': 5,
         '2023-10-18 12:00:001853644555': 5,
         '2023-10-26 19:00:001853644555': 5,
         '2023-10-27 18:00:001853644555': 5,
         '2023-10-30 12:00:001853644555': 5,
         '2021-10-14 02:00:00729036184': 5,
         '2022-04-21 21:00:001899656446': 5,
         '2022-04-26 12:00:001899656446': 5,
         '2022-04-26 23:00:001899656446': 5,
         '2022-03-02 13:00:00132985804': 5,
         '2022-03-03 02:00:00132985804': 5,
         '2024-10-18 12:00:001609503630': 5,
         '2024-10-18 14:00:001609503630': 5,
         '2022-06-01 09:00:001426252780': 5,
         '2022-06-01 22:00:001426252780': 5,
         '2022-06-02 17:00:001426252780': 5,
         '2024-11-16 19:00:00241399800': 5,
         '2021-11-15 07:00:001850367161': 5,
         '2023-11-28 16:00:001313970597': 5,
         '2023-11-30 20:00:001313970597': 5,
         '2023-12-05 12:00:001313970597': 5,
         '2023-12-05 13:00:001313970597': 5,
         '2023-12-05 14:00:001313970597': 5,
         '2023-12-05 20:00:001313970597': 5,
         '2023-12-05 23:00:001313970597': 5,
         '2023-12-06 04:00:001313970597': 5,
         '2023-12-06 05:00:001313970597': 5,
         '2023-12-06 07:00:001313970597': 5,
         '2023-12-06 08:00:001313970597': 5,
         '2024-08-16 23:00:00137897634': 5,
         '2022-02-18 11:00:001062301970': 5,
         '2022-06-07 21:00:001882124297': 5,
         '2022-06-09 13:00:001882124297': 5,
         '2022-06-09 17:00:001882124297': 5,
         '2022-06-09 18:00:001882124297': 5,
         '2023-03-15 18:00:00924230729': 5,
         '2023-03-15 23:00:00924230729': 5,
         '2023-03-16 09:00:00924230729': 5,
         '2023-03-16 12:00:00924230729': 5,
         '2023-03-18 07:00:00924230729': 5,
         '2023-03-18 20:00:00924230729': 5,
         '2023-03-20 16:00:00924230729': 5,
         '2023-03-21 11:00:00924230729': 5,
         '2023-03-22 10:00:00924230729': 5,
         '2023-03-24 11:00:00924230729': 5,
         '2024-08-14 19:00:00387523285': 5,
         '2024-06-05 14:00:00448979959': 5,
         '2024-06-05 17:00:00448979959': 5,
         '2024-05-10 04:00:0050683870': 5,
         '2024-05-10 09:00:0050683870': 5,
         '2023-11-14 21:00:0021863503': 5,
         '2020-12-15 21:00:002037708841': 5,
         '2020-12-15 23:00:002037708841': 5,
         '2020-12-18 06:00:002037708841': 5,
         '2020-12-18 14:00:002037708841': 5,
         '2023-02-15 16:00:001029291385': 5,
         '2021-12-17 09:00:001619509946': 5,
         '2024-11-07 07:00:002033810311': 5,
         '2021-06-29 19:00:001939094204': 5,
         '2022-04-27 18:00:00533655286': 5,
         '2022-04-28 05:00:00533655286': 5,
         '2022-04-28 19:00:00533655286': 5,
         '2021-03-26 10:00:001176218226': 5,
         '2021-03-26 17:00:001176218226': 5,
         '2024-07-17 16:00:001598098596': 5,
         '2024-12-05 01:00:00795594587': 5,
         '2024-04-12 20:00:00938969539': 5,
         '2024-04-10 20:00:001659486442': 5,
         '2020-01-18 13:00:002011078897': 5,
         '2023-02-05 11:00:002072613128': 4,
         '2023-02-05 19:00:002072613128': 4,
         '2024-06-10 15:00:00753717811': 4,
         '2024-06-10 19:00:00753717811': 4,
         '2024-06-11 06:00:00753717811': 4,
         '2024-06-11 14:00:00753717811': 4,
         '2024-04-23 15:00:002001530558': 4,
         '2023-05-23 19:00:001335510683': 4,
         '2022-08-13 09:00:001587108642': 4,
         '2020-10-21 12:00:00686228508': 4,
         '2024-05-16 01:00:00898242727': 4,
         '2024-05-16 07:00:00898242727': 4,
         '2020-06-12 10:00:00565786177': 4,
         '2020-02-10 02:00:001374751557': 4,
         '2020-02-10 13:00:001374751557': 4,
         '2020-02-10 16:00:001374751557': 4,
         '2020-02-10 21:00:001374751557': 4,
         '2020-02-10 23:00:001374751557': 4,
         '2020-02-11 03:00:001374751557': 4,
         '2020-02-11 05:00:001374751557': 4,
         '2020-02-11 08:00:001374751557': 4,
         '2020-02-11 11:00:001374751557': 4,
         '2020-02-12 23:00:001374751557': 4,
         '2020-02-13 06:00:001374751557': 4,
         '2020-02-13 12:00:001374751557': 4,
         '2022-03-16 12:00:001569547379': 4,
         '2023-11-07 19:00:00297174802': 4,
         '2021-06-16 17:00:00132317232': 4,
         '2022-10-18 01:00:0032459488': 4,
         '2024-06-21 09:00:00175165103': 4,
         '2024-06-22 09:00:00175165103': 4,
         '2024-07-20 09:00:00175165103': 4,
         '2024-07-21 09:00:00175165103': 4,
         '2024-07-09 20:00:002019429580': 4,
         '2024-07-09 21:00:002019429580': 4,
         '2024-07-09 23:00:002019429580': 4,
         '2024-07-10 08:00:002019429580': 4,
         '2024-07-10 14:00:002019429580': 4,
         '2024-07-10 20:00:002019429580': 4,
         '2024-07-11 02:00:002019429580': 4,
         '2024-07-11 05:00:002019429580': 4,
         '2024-07-11 08:00:002019429580': 4,
         '2024-07-11 14:00:002019429580': 4,
         '2024-07-12 02:00:002019429580': 4,
         '2024-07-12 07:00:002019429580': 4,
         '2024-07-23 04:00:002019429580': 4,
         '2024-06-09 09:00:001780122793': 4,
         '2024-06-21 09:00:001780122793': 4,
         '2024-07-06 09:00:001780122793': 4,
         '2020-07-14 17:00:002023208874': 4,
         '2020-07-14 18:00:002023208874': 4,
         '2020-07-14 21:00:002023208874': 4,
         '2020-07-15 05:00:002023208874': 4,
         '2020-07-15 08:00:002023208874': 4,
         '2020-07-15 11:00:002023208874': 4,
         '2020-07-15 13:00:002023208874': 4,
         '2020-07-15 17:00:002023208874': 4,
         '2020-07-15 21:00:002023208874': 4,
         '2020-07-16 01:00:002023208874': 4,
         '2020-07-16 07:00:002023208874': 4,
         '2021-11-20 10:00:002006057653': 4,
         '2020-08-04 19:00:00268956504': 4,
         '2024-05-29 22:00:001598696199': 4,
         '2024-05-30 00:00:001598696199': 4,
         '2024-05-30 12:00:001598696199': 4,
         '2024-05-30 14:00:001598696199': 4,
         '2024-05-30 17:00:001598696199': 4,
         '2024-06-01 21:00:001598696199': 4,
         '2024-06-02 07:00:001598696199': 4,
         '2024-06-02 11:00:001598696199': 4,
         '2024-06-02 13:00:001598696199': 4,
         '2024-06-02 14:00:001598696199': 4,
         '2024-06-02 16:00:001598696199': 4,
         '2024-06-02 19:00:001598696199': 4,
         '2024-06-02 20:00:001598696199': 4,
         '2024-06-02 21:00:001598696199': 4,
         '2024-06-03 14:00:001598696199': 4,
         '2022-05-19 01:00:009636901': 4,
         '2022-05-19 02:00:009636901': 4,
         '2022-05-19 03:00:009636901': 4,
         '2022-05-19 04:00:009636901': 4,
         '2022-05-19 05:00:009636901': 4,
         '2022-05-19 06:00:009636901': 4,
         '2022-05-19 07:00:009636901': 4,
         '2022-05-19 08:00:009636901': 4,
         '2022-05-19 09:00:009636901': 4,
         '2022-05-19 10:00:009636901': 4,
         '2022-05-19 11:00:009636901': 4,
         '2022-05-19 12:00:009636901': 4,
         '2022-05-19 13:00:009636901': 4,
         '2022-05-19 14:00:009636901': 4,
         '2022-05-19 15:00:009636901': 4,
         '2022-05-20 00:00:009636901': 4,
         '2020-12-15 15:00:00242560064': 4,
         '2020-12-15 20:00:00242560064': 4,
         '2020-12-16 10:00:00242560064': 4,
         '2020-12-16 14:00:00242560064': 4,
         '2020-12-16 17:00:00242560064': 4,
         '2020-12-16 22:00:00242560064': 4,
         '2020-12-17 00:00:00242560064': 4,
         '2020-12-17 06:00:00242560064': 4,
         '2020-12-17 10:00:00242560064': 4,
         '2020-12-17 17:00:00242560064': 4,
         '2020-12-18 21:00:00242560064': 4,
         '2020-12-19 21:00:00242560064': 4,
         '2024-08-03 00:00:00644907220': 4,
         '2024-08-03 12:00:00644907220': 4,
         '2024-08-03 20:00:00644907220': 4,
         '2024-08-04 04:00:00644907220': 4,
         '2024-08-04 11:00:00644907220': 4,
         '2023-07-11 12:00:001163415917': 4,
         '2023-07-11 13:00:001163415917': 4,
         '2023-08-23 11:00:001163415917': 4,
         '2023-08-25 02:00:001163415917': 4,
         '2023-08-25 16:00:001163415917': 4,
         '2021-02-12 09:00:00330745849': 4,
         '2023-04-20 13:00:001761266745': 4,
         '2019-10-11 09:00:001960689442': 4,
         '2019-10-12 09:00:001960689442': 4,
         '2019-11-11 09:00:001960689442': 4,
         '2019-11-15 09:00:001960689442': 4,
         '2019-11-20 00:00:001960689442': 4,
         '2022-03-02 09:00:00957301602': 4,
         '2024-01-23 20:00:00898242727': 4,
         '2024-01-24 00:00:00898242727': 4,
         '2024-01-24 01:00:00898242727': 4,
         '2024-01-24 03:00:00898242727': 4,
         '2024-01-24 07:00:00898242727': 4,
         '2024-01-24 08:00:00898242727': 4,
         '2024-01-24 11:00:00898242727': 4,
         '2024-01-24 17:00:00898242727': 4,
         '2024-01-24 18:00:00898242727': 4,
         '2024-01-25 01:00:00898242727': 4,
         '2024-01-25 09:00:00898242727': 4,
         '2024-01-29 01:00:00898242727': 4,
         '2024-03-13 09:00:002058664666': 4,
         '2024-09-23 16:00:001576271591': 4,
         '2024-03-02 17:00:00881360866': 4,
         '2024-10-01 14:00:001919224852': 4,
         '2024-08-29 19:00:00698777850': 4,
         '2024-08-29 20:00:00698777850': 4,
         '2024-12-04 17:00:00698777850': 4,
         '2024-12-04 19:00:00698777850': 4,
         '2024-12-05 01:00:00698777850': 4,
         '2024-12-05 07:00:00698777850': 4,
         '2024-12-05 08:00:00698777850': 4,
         '2024-12-05 09:00:00698777850': 4,
         '2024-12-05 13:00:00698777850': 4,
         '2024-12-05 16:00:00698777850': 4,
         '2024-12-05 17:00:00698777850': 4,
         '2024-12-05 21:00:00698777850': 4,
         '2024-12-06 18:00:00698777850': 4,
         '2024-12-08 14:00:00698777850': 4,
         '2023-11-30 05:00:00228919787': 4,
         '2023-10-26 00:00:0043078502': 4,
         '2023-10-27 11:00:0043078502': 4,
         '2023-10-27 19:00:0043078502': 4,
         '2023-10-28 02:00:0043078502': 4,
         '2024-05-10 13:00:001588965938': 4,
         '2024-07-25 19:00:00504672227': 4,
         '2024-07-27 10:00:00504672227': 4,
         '2021-12-02 21:00:001965797777': 4,
         '2021-12-03 07:00:001965797777': 4,
         '2021-12-03 20:00:001965797777': 4,
         '2021-12-04 11:00:001965797777': 4,
         '2021-12-04 17:00:001965797777': 4,
         '2020-02-05 23:00:00802360894': 4,
         '2023-10-18 19:00:001285426686': 4,
         '2023-10-19 00:00:001285426686': 4,
         '2020-09-30 20:00:001836306635': 4,
         '2020-10-01 01:00:001836306635': 4,
         '2020-10-01 06:00:001836306635': 4,
         '2020-10-02 20:00:001836306635': 4,
         '2020-10-03 07:00:001836306635': 4,
         '2020-07-18 09:00:00251673290': 4,
         '2022-09-21 14:00:00533655286': 4,
         '2024-06-05 11:00:001665369881': 4,
         '2024-06-05 20:00:001665369881': 4,
         '2022-11-09 12:00:00525886290': 4,
         '2022-11-10 05:00:00525886290': 4,
         '2022-11-10 13:00:00525886290': 4,
         '2022-11-10 16:00:00525886290': 4,
         '2022-11-12 01:00:00525886290': 4,
         '2022-11-13 01:00:00525886290': 4,
         '2024-07-10 09:00:00109332931': 4,
         '2024-11-20 18:00:00372017212': 4,
         '2024-11-21 01:00:00372017212': 4,
         '2024-11-21 12:00:00372017212': 4,
         '2024-11-22 01:00:00372017212': 4,
         '2024-11-22 13:00:00372017212': 4,
         '2024-11-22 17:00:00372017212': 4,
         '2024-11-22 22:00:00372017212': 4,
         '2024-11-23 11:00:00372017212': 4,
         '2024-11-25 03:00:00372017212': 4,
         '2022-02-21 12:00:00203008612': 4,
         '2022-07-26 15:00:00203008612': 4,
         '2022-07-27 01:00:00203008612': 4,
         '2022-07-28 10:00:00203008612': 4,
         '2022-07-28 17:00:00203008612': 4,
         '2022-07-28 21:00:00203008612': 4,
         '2022-07-29 10:00:00203008612': 4,
         '2022-07-30 10:00:00203008612': 4,
         '2022-07-30 19:00:00203008612': 4,
         '2022-07-30 20:00:00203008612': 4,
         '2022-07-30 21:00:00203008612': 4,
         '2022-07-31 00:00:00203008612': 4,
         '2022-08-01 12:00:00203008612': 4,
         '2022-08-01 14:00:00203008612': 4,
         '2022-09-11 21:00:00203008612': 4,
         '2022-12-03 17:00:00203008612': 4,
         '2022-12-03 19:00:00203008612': 4,
         '2022-12-03 23:00:00203008612': 4,
         '2022-12-04 00:00:00203008612': 4,
         '2022-12-04 01:00:00203008612': 4,
         '2022-12-04 03:00:00203008612': 4,
         '2022-12-04 09:00:00203008612': 4,
         '2022-12-04 12:00:00203008612': 4,
         '2022-12-04 21:00:00203008612': 4,
         '2022-12-05 02:00:00203008612': 4,
         '2022-12-05 10:00:00203008612': 4,
         '2022-12-05 15:00:00203008612': 4,
         '2023-01-30 07:00:00203008612': 4,
         '2024-10-25 18:00:001894332649': 4,
         '2024-10-25 23:00:001894332649': 4,
         '2024-10-26 02:00:001894332649': 4,
         '2024-10-26 06:00:001894332649': 4,
         '2024-10-26 15:00:001894332649': 4,
         '2024-10-27 09:00:001894332649': 4,
         '2024-04-15 21:00:00570890023': 4,
         '2023-01-15 11:00:0043078502': 4,
         '2023-01-15 13:00:0043078502': 4,
         '2023-01-15 18:00:0043078502': 4,
         '2023-01-15 19:00:0043078502': 4,
         '2023-01-15 20:00:0043078502': 4,
         '2023-01-16 03:00:0043078502': 4,
         '2023-01-16 12:00:0043078502': 4,
         '2023-01-16 13:00:0043078502': 4,
         '2023-01-16 15:00:0043078502': 4,
         '2023-01-16 20:00:0043078502': 4,
         '2023-01-16 21:00:0043078502': 4,
         '2023-01-17 04:00:0043078502': 4,
         '2023-01-17 10:00:0043078502': 4,
         '2023-01-17 12:00:0043078502': 4,
         '2023-01-17 20:00:0043078502': 4,
         '2023-01-18 00:00:0043078502': 4,
         '2023-01-21 01:00:0043078502': 4,
         '2023-01-21 02:00:0043078502': 4,
         '2023-01-21 13:00:0043078502': 4,
         '2023-01-21 19:00:0043078502': 4,
         '2023-01-21 21:00:0043078502': 4,
         '2023-01-22 03:00:0043078502': 4,
         '2023-01-22 05:00:0043078502': 4,
         '2023-04-29 12:00:00993746181': 4,
         '2023-11-22 19:00:001121147142': 4,
         '2023-11-23 13:00:001121147142': 4,
         '2020-08-21 03:00:00832938182': 4,
         '2020-08-21 17:00:00832938182': 4,
         '2020-08-22 05:00:00832938182': 4,
         '2020-08-24 06:00:00832938182': 4,
         '2020-08-27 01:00:00832938182': 4,
         '2021-07-21 16:00:00328525231': 4,
         '2021-07-21 17:00:00328525231': 4,
         '2021-07-21 18:00:00328525231': 4,
         '2021-07-21 19:00:00328525231': 4,
         '2020-03-29 09:00:00156177459': 4,
         '2020-04-17 09:00:00156177459': 4,
         '2022-06-13 08:00:001218503080': 4,
         '2023-10-20 10:00:001853644555': 4,
         '2024-02-13 15:00:001530336024': 4,
         '2023-05-23 21:00:00974955970': 4,
         '2023-05-24 01:00:00974955970': 4,
         '2023-05-24 10:00:00974955970': 4,
         '2023-05-24 17:00:00974955970': 4,
         '2023-05-24 23:00:00974955970': 4,
         '2023-05-25 06:00:00974955970': 4,
         '2023-05-25 14:00:00974955970': 4,
         '2021-10-13 22:00:00729036184': 4,
         '2021-10-14 04:00:00729036184': 4,
         '2021-10-14 17:00:00729036184': 4,
         '2022-04-18 18:00:001899656446': 4,
         '2022-04-19 17:00:001899656446': 4,
         '2022-04-20 16:00:001899656446': 4,
         '2022-04-21 22:00:001899656446': 4,
         '2022-04-21 23:00:001899656446': 4,
         '2022-04-25 23:00:001899656446': 4,
         '2022-04-26 15:00:001899656446': 4,
         '2022-04-26 16:00:001899656446': 4,
         '2022-04-26 17:00:001899656446': 4,
         '2022-04-26 21:00:001899656446': 4,
         '2021-07-26 23:00:001380781998': 4,
         '2021-07-27 00:00:001380781998': 4,
         '2021-07-27 07:00:001380781998': 4,
         '2022-04-12 09:00:001380781998': 4,
         '2023-11-06 00:00:001361971440': 4,
         '2023-11-06 12:00:001361971440': 4,
         '2023-11-07 05:00:001361971440': 4,
         '2023-11-07 12:00:001361971440': 4,
         '2023-11-07 18:00:001361971440': 4,
         '2023-11-08 06:00:001361971440': 4,
         '2023-11-08 23:00:001361971440': 4,
         '2022-03-02 11:00:00132985804': 4,

In [95]:
drugsexposure_train[drugsexposure_train['uid']=='2024-07-09 19:00:002019429580']

,visit_occurrence_id,person_id,drug_datetime_hourly,drug_concept_id,route_concept_id,uid
16826,204873269,2019429580,2024-07-09 19:00:00,dopamine,Intravenous,2024-07-09 19:00:002019429580
16827,204873269,2019429580,2024-07-09 19:00:00,norepinephrine,Intravenous,2024-07-09 19:00:002019429580
16828,204873269,2019429580,2024-07-09 19:00:00,milrinone,Intravenous,2024-07-09 19:00:002019429580
16830,204873269,2019429580,2024-07-09 19:00:00,hydrocortisone,Intravenous,2024-07-09 19:00:002019429580
16833,204873269,2019429580,2024-07-09 19:00:00,epinephrine,Intravenous,2024-07-09 19:00:002019429580

In [115]:
drugsexposure_train

,visit_occurrence_id,person_id,drug_datetime_hourly,drug_concept_id,route_concept_id
0,933758,523870286,2023-12-06 04:00:00,amoxicillin,Oral
1,933758,523870286,2023-12-06 09:00:00,prednisolone,Oral
2,933758,523870286,2023-12-06 12:00:00,amoxicillin,Oral
3,933758,523870286,2023-12-06 13:00:00,azithromycin,Oral
4,933758,523870286,2023-12-06 17:00:00,methylprednisolone,Intravenous
...,...,...,...,...,...
184775,2147326527,575399803,2023-01-03 01:00:00,meropenem,Intravenous
184776,2147326527,575399803,2023-01-03 09:00:00,meropenem,Intravenous
184777,2147326527,575399803,2023-01-03 17:00:00,meropenem,Intravenous
184778,2147326527,575399803,2023-01-04 01:00:00,meropenem,Intravenous
184779,2147326527,575399803,2023-01-04 10:00:00,meropenem,Intravenous

In [66]:
person_ids = np.unique(measurement_meds_train['person_id'])

In [67]:
measurement_meds_train[measurement_meds_train['person_id']==person_ids[9]]

,visit_occurrence_id,person_id,measurement_datetime,Systolic blood pressure,Diastolic blood pressure,Body temperature,Respiratory rate,Heart rate,Measurement of oxygen saturation at periphery,Oxygen/Gas total [Pure volume fraction] Inhaled gas,uid
71027,644381400,5890051,2023-06-12 14:00:00,NaN,NaN,35.8,NaN,NaN,NaN,NaN,2023-06-12 14:00:005890051
71028,644381400,5890051,2023-06-12 16:00:00,NaN,NaN,36.1,NaN,NaN,NaN,NaN,2023-06-12 16:00:005890051
71029,644381400,5890051,2023-06-12 18:00:00,NaN,NaN,36.0,NaN,NaN,NaN,NaN,2023-06-12 18:00:005890051
71030,644381400,5890051,2023-06-12 19:00:00,NaN,NaN,36.5,NaN,NaN,NaN,NaN,2023-06-12 19:00:005890051
71031,644381400,5890051,2023-06-12 21:00:00,NaN,NaN,36.2,NaN,NaN,NaN,NaN,2023-06-12 21:00:005890051
71032,644381400,5890051,2023-06-12 23:00:00,NaN,NaN,36.7,NaN,NaN,NaN,NaN,2023-06-12 23:00:005890051
71033,644381400,5890051,2023-06-13 01:00:00,NaN,NaN,36.0,NaN,NaN,NaN,NaN,2023-06-13 01:00:005890051
71034,644381400,5890051,2023-06-13 06:00:00,NaN,NaN,36.0,NaN,NaN,NaN,NaN,2023-06-13 06:00:005890051
71035,644381400,5890051,2023-06-13 09:00:00,NaN,NaN,35.9,NaN,NaN,NaN,NaN,2023-06-13 09:00:005890051
248060,2084208524,5890051,2024-09-12 17:00:00,NaN,NaN,35.9,20.614035,106.586205,99.421875,NaN,2024-09-12 17:00:005890051
248061,2084208524,5890051,2024-09-12 18:00:00,NaN,NaN,NaN,19.801723,99.564100,99.508480,NaN,2024-09-12 18:00:005890051
248062,2084208524,5890051,2024-09-12 19:00:00,NaN,NaN,36.3,22.957266,102.794870,99.838980,NaN,2024-09-12 19:00:005890051
248063,2084208524,5890051,2024-09-12 20:00:00,NaN,NaN,NaN,23.923729,102.974580,99.991520,NaN,2024-09-12 20:00:005890051
248064,2084208524,5890051,2024-09-12 21:00:00,NaN,NaN,NaN,20.618645,96.559320,100.000000,NaN,2024-09-12 21:00:005890051
248065,2084208524,5890051,2024-09-12 22:00:00,NaN,NaN,NaN,20.709402,98.393166,99.966100,NaN,2024-09-12 22:00:005890051
248066,2084208524,5890051,2024-09-12 23:00:00,NaN,NaN,36.0,17.295652,85.387930,99.855934,NaN,2024-09-12 23:00:005890051
248067,2084208524,5890051,2024-09-13 00:00:00,102.0,53.0,NaN,19.361345,95.134450,99.857140,NaN,2024-09-13 00:00:005890051
248068,2084208524,5890051,2024-09-13 01:00:00,NaN,NaN,36.1,16.406780,85.135590,99.855934,NaN,2024-09-13 01:00:005890051
248069,2084208524,5890051,2024-09-13 02:00:00,NaN,NaN,NaN,17.372880,81.864410,99.830505,NaN,2024-09-13 02:00:005890051
248070,2084208524,5890051,2024-09-13 03:00:00,NaN,NaN,36.5,18.771187,83.050850,99.830505,NaN,2024-09-13 03:00:005890051
248071,2084208524,5890051,2024-09-13 04:00:00,NaN,NaN,NaN,16.110170,76.152540,99.067795,NaN,2024-09-13 04:00:005890051
248072,2084208524,5890051,2024-09-13 05:00:00,NaN,NaN,36.7,15.228813,78.254234,99.059320,NaN,2024-09-13 05:00:005890051
248073,2084208524,5890051,2024-09-13 06:00:00,NaN,NaN,NaN,14.703390,81.584750,99.321740,NaN,2024-09-13 06:00:005890051
248074,2084208524,5890051,2024-09-13 07:00:00,NaN,NaN,36.7,15.822034,76.500000,98.567795,NaN,2024-09-13 07:00:005890051
248075,2084208524,5890051,2024-09-13 08:00:00,NaN,NaN,NaN,16.152542,80.398310,99.559320,NaN,2024-09-13 08:00:005890051
248076,2084208524,5890051,2024-09-13 09:00:00,NaN,NaN,36.4,18.838984,83.483050,99.872880,NaN,2024-09-13 09:00:005890051
248077,2084208524,5890051,2024-09-13 10:00:00,NaN,NaN,NaN,20.687500,84375.000000,99.905174,NaN,2024-09-13 10:00:005890051
248078,2084208524,5890051,2024-09-13 11:00:00,NaN,NaN,NaN,NaN,81.482760,99.839080,NaN,2024-09-13 11:00:005890051

In [68]:
len(np.unique(sepsis_label_train[sepsis_label_train['SepsisLabel']==1]['person_id']))

97

In [7]:
len(np.unique(sepsis_label_train[sepsis_label_train['SepsisLabel']==0]['person_id']))

2649

In [8]:
train = np.unique(sepsis_label_train['person_id'])
test = np.unique(sepsis_label_test['person_id'])

for x in test:
    if x in train:
        print("weird")

weird
weird
weird
weird
weird
weird
weird
weird
weird
weird
weird
weird
weird
weird
weird
weird
weird
weird

In [69]:
proceduresoccurrences_train.sample(6)

,visit_occurrence_id,procedure_datetime_hourly,person_id,procedure,uid
101734,204873269,2024-07-26 02:00:00,2019429580,Cannulation,2024-07-26 02:00:002019429580
450424,866895186,2022-09-07 17:00:00,203008612,Non-invasive ventilation,2022-09-07 17:00:00203008612
294556,554898922,2024-05-18 05:00:00,1314502207,Exteriorization of trachea,2024-05-18 05:00:001314502207
61000,137241354,2022-10-16 22:00:00,32459488,Cannulation,2022-10-16 22:00:0032459488
573601,1059550402,2022-06-02 11:00:00,1899656446,Non-invasive ventilation,2022-06-02 11:00:001899656446
579359,1061039225,2021-06-23 23:00:00,1436855615,Cannulation,2021-06-23 23:00:001436855615

In [70]:
drugsexposure_train.sample(6)

,visit_occurrence_id,person_id,drug_datetime_hourly,drug_concept_id,route_concept_id,uid
132798,1540464867,553777618,2022-11-21 17:00:00,clindamycin,Oral,2022-11-21 17:00:00553777618
146761,1696587855,1718043636,2022-09-02 21:00:00,hydrocortisone,Topical,2022-09-02 21:00:001718043636
140124,1623609836,924230729,2023-04-30 09:00:00,milrinone,Intravenous,2023-04-30 09:00:00924230729
55098,679374374,1122426121,2019-08-27 01:00:00,piperacillin,Intravenous,2019-08-27 01:00:001122426121
27366,321525974,235408618,2020-01-15 16:00:00,milrinone,Intravenous,2020-01-15 16:00:00235408618
116528,1351138203,241399800,2024-11-23 19:00:00,norepinephrine,Intravenous,2024-11-23 19:00:00241399800

In [71]:
devices_train.sample(6)

,visit_occurrence_id,device_datetime_hourly,person_id,device,uid
205727,413701019,2019-10-04 19:00:00,1960689442,Central venous catheter,2019-10-04 19:00:001960689442
328385,627696178,2021-02-18 23:00:00,1843781697,Central venous catheter,2021-02-18 23:00:001843781697
115331,225878656,2021-10-04 20:00:00,523492975,Arterial blood pressure catheter,2021-10-04 20:00:00523492975
396624,742757710,2024-06-01 15:00:00,1490827054,Nasogastric/orogastric tube stylet,2024-06-01 15:00:001490827054
287217,554200535,2020-08-14 05:00:00,1201581490,Urinary catheter,2020-08-14 05:00:001201581490
373398,701635392,2019-07-30 20:00:00,2048624819,Urinary catheter,2019-07-30 20:00:002048624819

In [121]:
observation_train.columns

Index(['visit_occurrence_id', 'person_id', 'observation_datetime',
       'observation_concept_id', 'observation_concept_name', 'valuefilled'],
      dtype='object')

In [73]:
measurement_observation_train.sample(6)

,visit_occurrence_id,person_id,measurement_datetime,Left pupil Diameter Auto,Right pupil Diameter Auto,Glasgow coma scale,Capillary refill [Time],Pulse,Arterial pulse pressure,Right pupil Pupillary response,Left pupil Pupillary response,uid
39084,1682818919,1939094204,2022-03-08 13:00:00,3.0,3.0,15.0,NaN,NaN,NaN,Normal,Normal,2022-03-08 13:00:001939094204
11542,554200535,1201581490,2020-07-26 19:00:00,3.5,3.5,15.0,Normal capillary filling,NaN,Present,Normal,Normal,2020-07-26 19:00:001201581490
19008,866895186,203008612,2022-06-12 05:00:00,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,2022-06-12 05:00:00203008612
30163,1307478059,505631993,2023-03-03 04:00:00,3.0,3.0,NaN,NaN,NaN,NaN,Normal,Normal,2023-03-03 04:00:00505631993
8222,373578703,1376769416,2019-09-14 11:00:00,NaN,NaN,NaN,Normal capillary filling,Present,Present,NaN,NaN,2019-09-14 11:00:001376769416
41963,1826807599,1437492736,2023-02-10 21:00:00,4.0,4.0,15.0,NaN,NaN,NaN,Normal,Normal,2023-02-10 21:00:001437492736

In [74]:
measurement_lab_train.sample(5)

,visit_occurrence_id,person_id,measurement_datetime,Base excess in Venous blood by calculation,Base excess in Arterial blood by calculation,Phosphate [Moles/volume] in Serum or Plasma,Potassium [Moles/volume] in Blood,Bilirubin.total [Moles/volume] in Serum or Plasma,Neutrophil Ab [Units/volume] in Serum,Bicarbonate [Moles/volume] in Arterial blood,...,activated,Total white blood count,Platelet count,White blood cell count,Blood venous pH,D-dimer level,Blood arterial pH,Hemoglobin [Moles/volume] in Blood,Ionised calcium measurement,uid
36902,1176219849,1587833691,2021-07-07 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-07 07:00:001587833691
4721,141752566,650167967,2020-07-17 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.5,1070.0,NaN,NaN,NaN,NaN,9.7,NaN,NaN,2020-07-17 08:00:00650167967
7148,207491975,491923945,2020-01-04 06:00:00,7.4,NaN,1.63,3.20,NaN,6.8,NaN,...,17.7,127.0,NaN,7.42,NaN,NaN,13.8,1.27,NaN,2020-01-04 06:00:00491923945
6457,191631462,176946437,2019-10-14 10:00:00,NaN,NaN,NaN,4.35,2.9,2.4,NaN,...,3.0,79.0,NaN,NaN,NaN,NaN,9.8,NaN,NaN,2019-10-14 10:00:00176946437
28124,939989098,392831439,2021-07-06 18:00:00,-16.3,NaN,1.94,4.10,NaN,13.6,NaN,...,17.4,258.0,NaN,7.23,NaN,NaN,11.3,1.11,NaN,2021-07-06 18:00:00392831439

In [157]:
sepsis_label_train.sample(5)

,person_id,measurement_datetime,SepsisLabel,uid
114026,1833687512,2022-10-29 09:00:00,0,2022-10-29 09:00:001833687512
269471,621767149,2023-01-23 07:00:00,0,2023-01-23 07:00:00621767149
33500,309232430,2022-07-21 15:00:00,0,2022-07-21 15:00:00309232430
279397,1461747336,2023-12-28 14:00:00,0,2023-12-28 14:00:001461747336
186360,1060863421,2022-05-16 05:00:00,0,2022-05-16 05:00:001060863421

In [30]:
sepsis_label_train[(sepsis_label_train['person_id']==183894266) & (sepsis_label_train['measurement_datetime']== '2021-08-19 18:00:00')]

,person_id,measurement_datetime,SepsisLabel,uid
299810,183894266,2021-08-19 18:00:00,0,1838942662021-08-19 18:00:00

In [18]:
sepsis_label_train['uid'] = sepsis_label_train['person_id'].astype(str) + sepsis_label_train['measurement_datetime'].astype(str)

In [20]:
devices_train['uid'] = devices_train['person_id'].astype(str) + devices_train['device_datetime_hourly'].astype(str)

In [36]:
a = sepsis_label_train[(sepsis_label_train['person_id']==183894266) & (sepsis_label_train['measurement_datetime']== '2021-08-19 18:00:00')]['uid'].item()
b = devices_train[(devices_train['person_id']==183894266) & (devices_train['device_datetime_hourly'] == '2021-08-19 18:00:00')]['uid'].item()
a == b

True